@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    line-height: 3rem;  
}

/* Navigation styles */
.nav-container {
    display: flex;
    justify-content: center;

    background-color: #1F2937;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;

    flex-basis: 80%;
}

.logo {
    font-size: 24px;
    font-weight: 500;
    color: #E5E7EB;
}

.links {
    display: flex;
    color: #FFF;
    gap: 20px;

}

ul {
    list-style-type: none;
    font-weight: 300;
    font-size: 18px;
}

li a {
    text-decoration: none;
    color: #E5E7EB;
}

/* Hero styles */
.hero-container {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    align-items: center;
}

.box {
    display: flex;
    width: 900px;
    background-color: grey;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

.hero {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 6rem 0;
    gap: 3rem;
}

.hero-main {
    font-size: 48px;
    font-family: Poppins,  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    line-height: 4rem;
    color: #fff;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
    line-height: 1.8rem;
}

.signup {
    border: none;
    padding: .8rem 2rem;
    background-color: #3882F6;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.hero-main,
.hero-secondary {
    margin-bottom: .8rem;
}


/* Card area styles */

.card-container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    /* background-color: aliceblue; */
    line-height: 1.2rem;
    text-align: center;
    padding: 4rem 0;
    color: #1F2937;
}

.card-container h1 {
    font-size: 36px;
    margin-bottom: 3rem;
}

.card-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    flex: 1;
}

.card {
    width: 200px;
    color: #848485;
}

.image {
    min-width: 100px;
    height: 200px;
    border: 8px solid #3882F6;
    border-radius: 12px;
    margin-bottom: 16px;
}

/* Quote styles */

.quote-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    background-color: #e5e7eb;
    padding: 4rem 0;
}

.quote {
    width: 800px;
    font-size: 30px;
    font-weight: 300;
}

.quote-main {
    font-style: italic;
}

/* Call to action styles */
.call-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    color: #fff;
    line-height: 1.8rem;
}

.main {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    background-color: #3882F6;
    padding: 2rem 6rem;
    border-radius: 5px;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 20px;
}

.btn-outline {
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    padding: .5rem 2rem;
    border-radius: 8px;
    cursor: pointer;
}

.left p {
    font-weight: 300;
}

h2 {
    font-weight: 500;
    font-size: 20px;
}

/* Footer styles */
.footer {
    display: flex;
    justify-content: center;

    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 10px 0;
}

span a {
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
}
